@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  margin: 0;
  font-size: 18px;
  word-spacing: 1.2px;
}

nav {
  background-color: #eee;
  border-right: 2px solid #777;
  max-width: 300px;
  height: 700vh;
}

nav a {
  border-top: 1px solid #777;
  color: #000;
  display: block;
  padding: 15px;
  text-decoration: none;
}

nav header {
  padding: 15px;
}

main {
  background-color: #fff;
  flex: 1;
}

header {
  font-size: 40px;
  font-weight: 500;
}

section {
  padding: 20px;
  line-height: 1.5;
}

.code_highlight {
  background-color: #f4f4f4;
  padding: 15px 30px;
  font-size: 18px;
  border-left: 6px solid #005282;
}

.token_tag {
  color: #a30008;
}

.subheading {
  font-family: monospace;
  font-size: 30px;
  font-weight: 500;
}

.note_card {
  background-color: #ddeaff;
  padding: 5px;
  border-left: 6px solid #0072b3; /* Always specify the border width and type. Otherwise the border won't show */
}

.code_para {
  background-color: #f4f4f4;
}

.code_highlight_wrong {
  background-color: #fae4e5;
  padding: 15px 30px;
  font-size: 18px;
  border-left: 6px solid #ff7d7e;
}

.blue_code {
  color: #005282;
}

ul li {
  margin-bottom: 10px;
}

ol li {
  margin-bottom: 10px;
}
